ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

form {
    width: 80%;
    margin: 0 auto;
  }

  label,
  input {
    /* In order to define widths */
    display: inline-block;
  }

  label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }

  label+input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
  }


  /* Only the submit button is matched by this selector,
         but to be sure you could use an id or class for that button */

  input+input {
    float: right;
  }

  form.search {
    width: 80%;
    margin: 0 auto;
  }

  label,
  input {
    /* In order to define widths */
    display: inline-block;
  }

  label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }

  label+input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
  }


  /* Only the submit button is matched by this selector,
         but to be sure you could use an id or class for that button */

  input+input {
    float: right;
  }

img {
  max-width: 600px;
  max-height: 600px;
}