<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cereal!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
    {% include 'navbar.html' %}
    <table>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>MFR</th>
            <th>Type</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Sodium</th>
            <th>Fiber</th>
            <th>Carbo</th>
            <th>Sugars</th>
            <th>Pot.Ass</th>
            <th>Vitamins</th>
            <th>Shelf</th>
            <th>Weight</th>
            <th>Cups</th>
            <th>Rating</th>
        </tr>
        {% if cereals is defined %}
            {% for cereal in cereals %}
            <tr>
                <td>{{ cereal.id }}</td>
                <td>{{ cereal.name }}</td>
                <td>{{ cereal.get_mfr }}</td>
                <td>{{ cereal.get_type }}</td>
                <td>{{ cereal.calories }}</td>
                <td>{{ cereal.protein }}</td>
                <td>{{ cereal.fat }}</td>
                <td>{{ cereal.sodium }}</td>
                <td>{{ cereal.fiber }}</td>
                <td>{{ cereal.carbo }}</td>
                <td>{{ cereal.sugars }}</td>
                <td>{{ cereal.potass }}</td>
                <td>{{ cereal.vitamins }}</td>
                <td>{{ cereal.shelf }}</td>
                <td>{{ cereal.weight }}</td>
                <td>{{ cereal.cups }}</td>
                <td>{{ cereal.rating }}</td>
            </tr>

            {% endfor %}
        {% endif %}

    </table>


    </body>


    </html>