<ul>
  <li>
    <a href="{{ url_for('home') }}">Home</a>
  </li>

  <form action="/" method="GET">

    <button>
      <a href="{{ url_for('search') }}">
        Advanced search
      </a>
    </button>
</form>
  <p>
    {% if not session['login'] %}
  </p>
  <form action="/login" method="POST">
    <li>
      <input name="username" type="text" placeholder="Username" aria-label="username" required>
    </li>
    <li>
      <input name="password" type="password" placeholder="Password" aria-label="password" required>
    </li>
    <li>
      <button type="submit">Login</button>
    </li>
  </form>
    {% else %}
    <form action="/logout">
      <li>
        <button type="submit">Logout</button>
      </li>
    </form>

    <form action="/update">
      <li>
        <button type="submit">Update Cereal</button>
      </li>
    </form>

    <form action="/delete">
      <li>
        <button type="submit">Delete Cereal</button>
      </li>
    </form>

    {% endif %}
  <li>
  </li>
</ul>