<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cereal!</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>

    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <form class="search" action="/search" method="POST">
      <label for="calories">Calories</label>
      <select name="calories_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="calories" name="calories" value="" /><br />

      <label for="protein">protein</label>
      <select name="protein_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="protein" name="protein" value="" /><br />

      <label for="fat">fat</label>
      <select name="fat_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="fat" name="fat" value="" /><br />

      <label for="sodium">sodium</label>
      <select name="sodium_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="sodium" name="sodium" value="" /><br />

      <label for="fiber">fiber</label>
      <select name="fiber_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="fiber" name="fiber" value="" step="0.01" /><br />

      <label for="carbo">carbo</label>
      <select name="carbo_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="carbo" name="carbo" value="" step="0.01" /><br />

      <label for="sugars">sugars</label>
      <select name="sugars_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="sugars" name="sugars" value="" /><br />

      <label for="potass">potass</label>
      <select name="potass_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="potass" name="potass" value="" /><br />

      <label for="vitamins">vitamins</label>
      <select name="vitamins_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="vitamins" name="vitamins" value="" /><br />

      <label for="shelf">shelf</label>
      <select name="shelf_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input type="number" id="shelf" name="shelf" value="" /><br />

      <label for="weight">weight</label>
      <select name="weight_operator">
        <option value=">=">>=</option>
        <option value=">">></option>
        <option value="<="><=</option>
        <option value="<"><</option>
        <option value="=">=</option>
        <option value="!=">!=</option>
      </select>
      <input
        type="number"
        id="weight"
        name="weight"
        value=""
        step="0.01"
      /><br />



      <label for="mfr">Manufacturer</label>
      <select name="mfr">
        <option value="" disabled selected>Select your option</option>
        <option value="a">American Home Food Products</option>
        <option value="g">General Mills</option>
        <option value="k">Kelloggs</option>
        <option value="n">Nabisco</option>
        <option value="p">Post</option>
        <option value="q">Quaker Oats</option>
        <option value="r">Ralston Purina</option>
      </select>
      <br>
      <label for="type">Type</label>
      <select name="type">
        <option value="" disabled selected>Select your option</option>
        <option value="c">Cold</option>
        <option value="g">Hot(?)</option>
      </select>
      <br>
      <br>
      <br>
      <br>

      <label for="orderby">Order by:</label>
      <select name="orderby">
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="mfr">MFR</option>
        <option value="type">Type</option>
        <option value="calories">Calories</option>
        <option value="protein">Protein</option>
        <option value="fat">Fat</option>
        <option value="fiber">Fiber</option>
        <option value="carbo">Carbo</option>
        <option value="sugars">Sugars</option>
        <option value="potass">Potass</option>
        <option value="vitamins">Vitamins</option>
        <option value="shelf">Shelf</option>
        <option value="weight">Weight</option>
        <option value="cups">Cups</option>
        <option value="rating">Rating</option>
      </select>
      <br>

      <input type="submit" value="Search" style="width: inherit; height: 100px;" />
    </form>
  </body>
</html>
