<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cereal!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

{% include 'navbar.html' %}
<form action="/update" method="POST">
    <label for="id">ID:</label><br>
    <input type="number" id="id" name="id" value="" min=0><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="mfr" name="mfr">Manufacturer</label><br>
    <select id="mfr" name="mfr">
      <option value="A">American Home Food Products</option>
      <option value="G">General Mills</option>
      <option value="K">Kelloggs</option>
      <option value="N">Nabisco</option>
      <option value="P">Post</option>
      <option value="Q">Quaker Oats</option>
      <option value="R">Ralston Purina</option>
    </select><br>
    <label for="type">Type:</label><br>
    <select for="type" name="type">
      <option value="H">Hot</option>
      <option value="C">Cold</option>
    </select><br>
    <label for="calories">Calories:</label><br>
    <input type="number" id="calories" name="calories" value=""><br>
    <label for="protein">Protein :</label><br>
    <input type="number" id="protein" name="protein" value=""><br>
    <label for="fat">Fat :</label><br>
    <input type="number" id="fat" name="fat" value=""><br>
    <label for="sodium">Sodium :</label><br>
    <input type="number" id="sodium" name="sodium" value=""><br>
    <label for="fiber">Fiber :</label><br>
    <input type="number" id="fiber" name="fiber" value="" step=0.01><br>
    <label for="carbo">carbo :</label><br>
    <input type="number" id="carbo" name="carbo" value="" step=0.01><br>
    <label for="sugars">sugars :</label><br>
    <input type="number" id="sugars" name="sugars" value=""><br>
    <label for="potass">potass :</label><br>
    <input type="number" id="potass" name="potass" value=""><br>
    <label for="vitamins">vitamins :</label><br>
    <input type="number" id="vitamins" name="vitamins" value=""><br>
    <label for="shelf">shelf :</label><br>
    <input type="number" id="shelf" name="shelf" value=""><br>
    <label for="weight">weight :</label><br>
    <input type="number" id="weight" name="weight" value="" step=0.01><br>
    <label for="cups">cups :</label><br>
    <input type="number" id="cups" name="cups" value="" step=0.01><br>
    <label for="rating">rating :</label><br>
    <input type="number" id="rating" name="rating" value="" step=0.01><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>